<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="OverwatchEntities" connectionString="metadata=res://*/context.OverwatchContext.csdl|res://*/context.OverwatchContext.ssdl|res://*/context.OverwatchContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hpkoverwatch.database.windows.net,1433;initial catalog=hpk-overwatch;persist security info=True;user id=hpk-overwatch;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="Entities" connectionString="metadata=res://*/context.OverwatchContext.csdl|res://*/context.OverwatchContext.ssdl|res://*/context.OverwatchContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hpkoverwatch.database.windows.net,1433;initial catalog=hpk-overwatch;persist security info=True;user id=hpk-overwatch;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>