<table class="table table-striped">
  <thead>
    <th>Property</th>
    <th>Current Status</th>
    <th>Latest Alert Status</th>
    <th>Details</th>
  </thead>
  <tbody>
    <tr *ngFor='let property of properties'>
      <td>{{property.propertyName}} ({{property.propertyNumber}}) </td>
      <td>{{property.propertyStatus}}</td>
      <td [ngClass]="{hpkalert: property.latestPropertyAlert?.severity==='low'}">{{property.latestPropertyAlert?.propertyAlert}}</td>
      <td><button [routerLink]="['/property-detail', property.id]">Details</button></td>
    </tr>
  </tbody>
</table>